.vs/
.vscode/

HelloTriangle/.vs/*
HelloTriangle/.vs/HelloTriangle/v17/*

HelloTriangle/Debug/*
HelloTriangle/HelloTriangle/Debug/*

Listas/Debug/*
Listas/x64/Debug/*

Listas/Lista_01/Debug/*
Listas/Lista_01/x64/Debug/*
